{% extends "banking/layout.html" %} {% load static %} {% block body %}
<body>
  <header>
    <h1>Hello, {{account.user.first_name}} {{account.user.last_name}}</h1>
    <nav>
      <strong>Account Number: </strong><span data-toggle="tooltip" title="Click to see/hide account number" id="account_number" data-account_number="{{account.account_number}}" style="cursor:grab;"> *********** </span> <br>
      <strong >Account Type: </strong> {{account.account_type}}
      <!-- Add navigation links here, such as "Home", "Accounts", "Transactions", etc. -->
    </nav>    
  </header>

<!-- Button to make deposit - "Make Deposit" -->
  <main>
    <section id="account-summary">
      <button
      type="button"
      class="btn"
      data-toggle="modal"
      data-target="#myModal"
      id="open_deposit"
    >
      Make Deposit
    </button>
        <div class="account-balance" style="text-align: center; color: black;"><strong class="">Account Balance:</strong> <div class="display-3">${{account.balance}}</div></div>
    </section>

    <!-- Widgets at the button of the sreen -->
    <section id="widget">

      <!-- Widget #1 -->
      <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header">
          <h3>Latest</h3>
        </div>
        <div class="card-body p-4">
          <ul>
            {% for item in data %}
            <li class="d-flex flex-column align-items-start mb-4">
              <div class="row">
                <div class="rounded-circle overflow-hidden col-3 d-flex align-items-center justify-content-center">
                  <img src="{{ item.image_url }}" alt="image" class="rounded-circle" width="70" height="70">
                </div>
                <div class="col-8 d-flex align-items-center">
                  <h4 style="font-family: fansong; font-size: 1.3rem;"> {{ item.title }}</h4>
                </div>
              </div>
              
              <div>
                <p style="font-family: ui-serif; font-size: 1rem;">{{ item.snippet }}</p>
                <a href="{{ item.link }}" target="_blank" class="badge badge-secondary">Read more</a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-footer"></div>
      </div>
      
      

      <!-- Widget #2 -->
      <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header"> <h3>Transactions</h3></div>
        <div class="card-body p-0">
      <ul class="list-group transaction-body m-0">
            {% for history in transactions %}
          <li class="list-group-item list-group-item-action transaction-item" data-toggle="tooltip" title="{{history.timestamp}}" data-placement="top">
            {{history.transactions}}</li>
                  {% empty %}
          <span class="m-2"><strong>No transaction yet</strong></span>
                  {% endfor %}
      </ul></div>
      <div class="card-footer"><button class="btn download-btn"><a href="{% url 'download_csv'%}" style="text-decoration: none; color: white;"> Download Statement</a> </button></div>
      </div>


      <!-- Widget #3 -->
      <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header"> <h3>Investments</h3></div>
        <div class="card-body p-2"> 
          <table class="table table-hover" id="stocks-table">
              <thead>
                  <tr>
                      <th>Ticker</th>
                      <th> Current Price</th>
                      <th> Quantity owned</th>
                      <th> Current Value</th>
                  </tr>
              </thead>
              <tbody id="stocks-table-body">
              </tbody>
          </table>
       </div>
        <div class="card-footer"></div>
      </div>

    


    </section>

    <!-- Add more sections or content as needed -->
  </main>
  <div class="container mt-3">


    <!-- The modal to add money (hidden initially) -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add money to your account</h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body"> 
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="amount">Amount:</label>
                <input
                  type="number"
                  id="deposit_amount"
                  name="amount"
                  min="0"
                  step="1.00"
                  required
                  class="form-control"
                />
              </div>
              <button class="btn btn-primary m-2 " id="make-deposit">Deposit</button></div>


          </div>
        </div>
      </div>
    </div>
  </div>
</body>

  {% endblock%} {% block script %}
  <link href="{% static 'banking/homepage/style.css' %}" rel="stylesheet" />
  <script src="{% static 'banking/homepage/homepage.js'%}"></script>

  {% endblock %}

