{% extends 'banking/layout.html' %} {% load static %} {% block body %}
<div id="app"></div>





<script type="text/babel">
  

  function App() {
    const [stocks, setAllStocks] = React.useState(null);
    const [searchTerm, setSearchTerm] = React.useState("");
    const [currentStock, setCurrentStock] = React.useState(null)
    const [showModel, setShowModel] = React.useState(false)
    
    const tradeStock = (trade, stock, quantity, setErrorMessage, setSuccessMessage) => {
    const apiUrl = "/trade/";
    // make sure that the trade parameter is either "buy" or "sell"
    if (trade !== "buy" && trade !== "sell") {
      console.error(`Invalid trade type: ${trade}`);
      return;
    }
  
    // create an object to store the data to send to the API
    const tradeData = {
      type: trade,
      symbol: stock.symbol,
      price: stock.price,
      quantity: quantity // assuming 1 share for now
    };
  
    // Send the trade data to the API
    fetch(apiUrl, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(tradeData)
    })
      .then(response =>
         response.json())
      .then(data => {
        // handle the response from the API
        console.log(data);
        if (data.error) {
          setErrorMessage(`${data.error}`)
          setTimeout(() => setErrorMessage(""), 4000)
        } else {
        
          setSuccessMessage(`${data.success}`)
        
          setTimeout(() =>  {setShowModel(false),   setCurrentStock(null)}, 2000)
         
        }
      })
      .catch(error => {
        console.error(`Error executing ${trade} trade for ${stock.symbol}: ${error}`);
        alert(`Error executing ${trade} trade for ${stock.symbol}`);
      });
  };
    
//Modal pop-up to buy or sell stock
const Modal = props => {

  // Keeps track of quantity user enters
  const [quantity, setQuantity] = React.useState(0)
  const [errorMessage, setErrorMessage] = React.useState("")
  const [successMessage, setSuccessMessage] = React.useState("")
 
  const handleTrade = (tradeType) => {
    tradeStock(tradeType, stock, quantity, setErrorMessage, setSuccessMessage);
  };



  // Destructure props
  const {show, stock, closeModel} = props
  
if (!show) { return null}
return (
  <div className="modal form">
    <div className="modal-content">  
      <div className="modal-header">
        <h4> Buy or Sell Stocks</h4>
        
        <button type="button" className="btn-close"  onClick={() => closeModel(false)}> x </button> 
      </div>

        <div className="modal-body"> 
         { errorMessage && <div className="alert alert-danger"> {errorMessage} </div>}
         { successMessage && <div className="alert alert-success"> {successMessage} </div>}
          How much of {stock.symbol} would you like to Buy/Sell
          <input type="number" className="form-control" placeholder="Enter number of stocks" min="1" autofocus onChange={(e) => {setQuantity(e.target.value)} }/>
          </div>
          <div className="modal-footer"> 
            
            <button className="btn btn-danger" onClick={() => handleTrade("sell")}> Sell</button>
            <button className="btn btn-success" onClick={() => handleTrade("buy")}> Buy</button>
      </div>
      </div>

    </div>

)
}


// stock component
const Stock = props => {
const {symbol, currency, price, type} = props.data 

return (
  <div className="card animate__animated animate__fadeIn">
    <div className="card-content">
      <div className="card-header">
        <div className="col-6">{symbol}</div>
        </div>
        <div className="card-body">
          <div className="col-6">{currency}   US${price}</div>
          <div>Type: {type}</div>   
        </div>
    </div>

    <div className="card-footer">
      <button className="buy-button btn btn-success m-1"   onClick={() => setShowModel(true)}>Trade</button>
    </div>
    </div>
    )
}


  const matchingStocks = React.useMemo(() => {
  if (!stocks) return [];
  return stocks.filter((stock) => {
    const searchTermLower = searchTerm.toLowerCase();
    return (
      stock.symbol.toLowerCase().includes(searchTermLower)
    );
  }).slice(0, 10);
}, [searchTerm, stocks]);


    
    const renderStock = (symbol) => {
     fetch(`/stock_info/${symbol}`).then(response => response.json().then(
     data => { setSearchTerm("");
                setCurrentStock(data); 
                console.log(data) }
     )
     )}
    

  React.useEffect(() => {
    const fetchData = async () => {
      try {
        const url = "https://api.twelvedata.com/stocks";
        const response = await fetch(url);
        const data = await response.json();

        const filtered = data['data'].filter(stock => stock.exchange ==  "NASDAQ")
        console.log(filtered)
        setAllStocks(filtered);
      } catch (error) {
        console.log(error);
      }
    };

    fetchData();
  }, []);



  return (
    <div className="container-fluid">
      <section className="section-1 col-12">
        <div className="search-container">
          <input
            type="text"
            value={searchTerm}
            onChange={(e) => setSearchTerm(e.target.value)}
            className="search-input"
            placeholder="Search stocks here"
          />
          <ul className="list-of-stocks list-group">
            {searchTerm &&
              matchingStocks.map((stock) => (
                <li className="list-group-item" onClick={() => renderStock(stock.symbol)} key={stock.symbol}>
                  {stock.name} ({stock.symbol})
                  </li>
                  ))}
            </ul>

            <Modal show={showModel} closeModel={setShowModel} stock={currentStock}/>

          </div>
      </section>
<section className="section-2 col-12">
  
         { currentStock && <Stock data={currentStock}/>}
</section>


    </div>
  );
}

ReactDOM.render(<App />, document.querySelector("#app"));
</script>

{% endblock %}


<div>
    {% block script %}   <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script></script>
    <link href="{% static 'banking/investing/style.css' %}" rel="stylesheet" />
    {% endblock %}
</div>
