{% extends 'banking/layout.html' %} {% load static %}{% block body %}
<div class="container-fluid vw-100 vh-100">
  <!-- section 1 -->
  <!-- section 1 -->
  <div class="row d-flex flex-wrap mt-5">
    <!-- left side -->
    <div
      class="col-lg-6 col-md-12 text-wrap d-flex flex-column ps-5"
      style="padding-left: 10%"
    >
      <div style="width: 100%">
        <strong style="font-family: 'Open Sans', sans-serif; font-size: 40px">
          Save, invest, transfer money made easy
        </strong>
      </div>
      <div class="mt-4" style="font-family: 'Instrument Sans', sans-serif">
        Experience seamless financial management with our user-friendly app,
        simplifying saving, investing, and money transfers
      </div>
      <div
        class="d-flex flex-row justify-content-around mt-4"
        style="height: 11%"
      >
        <button
          type="button"
          id="login-btn"
          class="btn btn-large rounded-pill h-100 ms-3"
          style="
            background-color: #efbd42;
            color: black;
            font-size: medium;
            width: 50%;
          "
        >
          Login
        </button>
        <button
          id="signup-btn"
          type="button"
          class="btn btn-large rounded-pill"
          style="width: 50%"
        >
          Sign up
        </button>
      </div>
    </div>

    <!-- right side -->
    <div
      class="col-lg-6 col-md-12 me-3"
      style="padding-right: 5%; border-left: gray solid 0.5px"
    >
      <div class="h-100">
        <img
          src="{% static 'banking/images/save-money.png' %}"
          alt="something for banking page"
          class="img-fluid mx-auto my-auto d-block"
        />
      </div>
    </div>
  </div>

  <!-- section 2 -->
  <div
    class="row d-flex flex-row flex-wrap mt-5 p-4"
    style="background-color: #99a98f"
  >
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card p-5" style="background: none !important; border: none">
        <div class="p-5">
          <img
            src="{% static 'banking/images/money-back.png'%}"
            class="card-img-top"
            alt="hand exchange"
          />
        </div>
        <div
          class="card-body bg-light rounded-pill"
          style="
            background-color: #d6e8db !important;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            font-family: 'Instrument Sans', sans-serif;
          "
        >
          <p class="card-text" style="padding: 18px">
            Experience hassle-free and instant money transfers to your friends
            and family, completely free of cost. Seamlessly send funds using
            just their account number, making it quick and convenient to support
            your loved ones.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card p-4" style="background: none !important; border: none">
        <img
          src="{% static 'banking/images/finance.png'%}"
          class="card-img-top"
          alt="hand exchange"
        />
        <div
          class="card-body bg-light rounded"
          style="
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            font-family: 'Instrument Sans', sans-serif;
          "
        >
          <p class="card-text my-auto text-wrap">
            Enjoy peace of mind as you securely deposit your funds into your
            account, knowing that it's safe and protected. With our banking app,
            there are no monthly fees, allowing you to manage your finances
            without any additional costs or worries.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card p-4" style="background: none !important; border: none">
        <div class="p-1">
          <img
            src="{% static 'banking/images/invest.png'%}"
            class="card-img-top"
            alt="hand exchange"
          />
        </div>
        <div
          class="card-body rounded"
          style="
            background-color: #d6e8db !important;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            font-family: 'Instrument Sans', sans-serif;
          "
        >
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- section 3 -->
  <div
    class="row border text-wrap p-2"
    style="font-weight: 100; font-style: italic; background-color: white"
  >
    <div
      class="col h-20 mb-0 p-0"
      style="margin: 0; color: black; font-family: serif; font-size: medium"
    >
      Please note that our bare bone banking app focuses on providing the
      essential features without advanced security measures. As a result, we
      recommend using this app for personal or non-sensitive transactions only.
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script src="{% static 'banking/landing/index.js'%}"></script>
{% endblock %}
