.body {
  margin-top: 20px;
}

.col {
  padding: 0px;
  background-color: #fcecde;
}
.form-container {
  padding: 50px;
  margin-top: 4%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 28px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: #007bff;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
}

input[type="submit"]:hover {
  background-color: #0062cc;
}

.error-message {
  color: white;
  background: #c51244 !important;
  padding: 10px !important;
  border-radius: 5px !important;
  position: relative;
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin: 10px;
}
.signup-label {
  text-align: center;
  font-family: cursive;
}
.responsive {
  width: 100%;
  height: auto;
}

/* Media queries for responsiveness */
@media (max-width: 765px) {
  input[type="submit"] {
    width: 100%;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .left-col {
    display: none;
  }

  .right-col {
    background-image: url("../images/mountains.jpg");
  }
}
