body {
  height: 100vh;
  background-image: url("../images/dbills.jpg");
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  position: relative;
}
.search-input {
  border: none;
  border-radius: 20px;
  padding: 15px;
  width: 550px;
  height: 45px;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #f4f4f4;
  transition: background-color 0.3s ease-in-out;
}

.search-input:focus {
  outline: none;
  background-color: #fff;
}

.current-stock {
  width: 30%;
  margin: 0 auto;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.list-of-stocks {
  position: absolute;
  top: 100%;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-of-stocks li {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
}

/*  This is the modal CSS  */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.btn-close {
  background: none;
  border: none;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

@media (max-width: 760px) {
  .search-input {
    width: 90%;
  }
}
