/* Custom CSS for the transfer form */

body {
  background-image: url("../images/wance-paleri-NnRIrQ1USyw-unsplash.jpg");
}

#transferForm {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 248, 222, 0.2);
  border-radius: 5px;
  margin-top: 10%;
  color: black;
  font-size: large;
}

.success {
  border-color: green !important;
  box-shadow: 0 0 5px green !important;
  transition: border-color 0.3s, box-shadow 0.3s;
}
