/* Reset default margins and paddings */
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Set font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Set background color and text color for body */
body {
  background-color: #f2f2f2;
  color: #333;
}

/* Set header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #fff;
  margin-right: 10px;
}

/* Set main content styles */
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}

form {
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Set footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#widget {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.widget {
  width: 30%;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}

.widget h3 {
  margin-top: 0;
}

.widget ul {
  list-style-type: none;
  padding: 0;
}

.widget ul li {
  margin-bottom: 5px;
}

.list-group {
  height: 250px;
  max-height: 250px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.card {
  width: 400px;
}
