/* Reset default margins and paddings */
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Set font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-image: url("../images/building-shot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(8px);
}

/* Set header styles */
header {
  background-color: black;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #fff;
  margin-right: 10px;
}

/* Set main content styles */
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}

form {
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
}

/* Set footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#widget {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.widget {
  width: 30%;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}

.widget h3 {
  margin-top: 0;
}

.widget ul {
  list-style-type: none;
  padding: 0;
}

.widget ul li {
  margin-bottom: 5px;
}

tbody {
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.btn {
  background-color: black !important;
  color: #fff8de !important;
  border-color: #fff8de !important;
}

.btn:hover {
  color: black !important;
  background-color: #fff8de !important;
}

.btn a:hover {
  color: black !important;
  background-color: #fff8de !important;
}

.card {
  width: 30%;
  height: 500px;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px,
    rgba(255, 255, 255, 0.3) 0px 7px 13px -3px,
    rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
}

.card-body {
  overflow-y: auto;
}

.card-footer {
  height: 60px;
}

.list-group.transaction-body {
  height: 100%;
}

tr {
  opacity: 0;
  height: 25px;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* modile screen */

@media (max-width: 1000px) {
  #widget {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 70%;
  }

  .account-balance {
    color: white !important;
  }
}

@media (max-width: 760px) {
  .card {
    width: 90%;
  }

  header {
    font-size: large;
  }
}
